.form-ant-field {
  margin-bottom: 15px;
}

.editor {
  margin-bottom: 15px;
}

.form-book-footer {
  margin-bottom: 0;
}

@media screen and (min-width: 620px){
  .form-book-footer {
    margin-bottom: 50px;
  }
}
