.ant-table-responsive {
  overflow: hidden;
  overflow-x: auto;
  background-color: #ffffff;

  @media only screen and (max-width: 920px) {
    white-space: nowrap;
  }
}

.action-wrapper {
  display: flex;
  align-content: center;

  a {
    margin-right: 12px;

    &:last-child {
      margin-right: 0;
    }

    i {
      font-size: 18px;
      color: blue;

      &:hover {
        color: blue;
      }
    }

    &.deleteBtn {
      i {
        color: red;

        &:hover {
          color: red
        }
      ;
      }
    }
  }
}
